<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Example application</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dapp.css') }}">
</head>
<body>
    {% include "global_nav.html" %}
    {{component(display_mode)}}

    {{component("confirmation")}}

    {{component("notifications")}}

   <script src="{{ url_for('jembe.static', filename='js/jembe.js') }}"></script>
</body>
</html>