<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projects</title>
</head>
<body>
    {% if mode is none %}
    <table>
        <thead>
            <tr>
                <th>Project</th>
                <th>Actions</th>
            </tr>
        </thead>
        {% for project in projects %}
        <tr>
            <td>{{project.name}}</td> 
            <td>
                <button jmb:on.click="{{component('edit', project_id=project.id).jrl}}">Edit</button>
            </td>
        </tr>
        {% endfor %}
    </table>
   {% elif mode == "edit" %}
    {{component("edit")}}
   {% endif %} 

   <script src="{{ url_for('jembe.static', filename='js/dist/jembe.js') }}"></script>
</body>
</html>