<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dapp.css') }}">
</head>
<body>
   <h1>Simple page</h1> 

    <h2>List of jembe demo pages</h2>
    <ul>
        <li><a href="/main/projects">Projects</a></li>
        <li><a href="/demo_upload">Demo upload</a></li>
    </ul>
   <script src="{{ url_for('jembe.static', filename='js/jembe.js') }}"></script>
</body>
</html>