<div>
    <h2>Tasks</h2>
    <button jmb:on.click="{{component('add').jrl}}">Add task</button>
    <table>
        <thead>
            <tr>
                <th>Task</th>
                <th>Actions</th>
            </tr>
        </thead>
        {% if display_mode == "add" %}
            {{component("add")}}
        {% endif %}
        {% for record in records %}
            {% if record.id in editing_tasks %}
                {{component("edit", record_id=record.id, _record=record).key(record.id)}}  
            {% else %}
                {{component("view", task_id=record.id, _task=record).key(record.id)}}
            {% endif %}
        {% endfor %}
    </table>
    <nav>
        {% if page > 1 %}
            <button jmb:on.click="$jmb.set('page', {{page}} - 1)">Prev</button>
        {% endif %}
        Page {{page}} of {{total_pages}} ({{projects_count}} projects)
        {% if total_pages > page %}
            <button jmb:on.click="$jmb.set('page', {{page}} + 1)">Next</button>
        {% endif %}
    </nav>

</div>