<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Basic Jembe application</title>
    <link rel="stylesheet" href="{{'{{'}} url_for('static', filename='css/{{project.name}}.css') {{'}}'}}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
</head>
<body>
    <h1>Welcome to {{project.name}}</h1>
    <script src="{{'{{'}} url_for('jembe.static', filename='js/jembe.js') {{'}}'}}"></script>
</body>
</html>