<h2>
    Edit project 
    <button 
        {% if prev_record_id %}
        jmb:on.click="goto_record({{prev_record_id}})"
        {% else %}
        disabled
        {% endif %}>
        Prev
    </button>
    <button 
        {% if next_record_id %}
        jmb:on.click="goto_record({{next_record_id}})"
        {% else %}
        disabled
        {% endif %}>
        Next
    </button>
</h2>
{{form.name.label}}:
{{form.name(**{"jmb:on.change.defer":"$jmb.set('form.name', $el.value)", "id":false})}}
<button jmb:on.click="save()">Save</button>
<button jmb:on.click="cancel()">Back</button>
{# <button jmb:on.click="$jmb.component('..',{mode:null}).display()">Back</button> #}
{{component("tasks")}}
{% if confirmation %}
    {{component("confirmation", **confirmation)}}
{% endif %}