<h2>
    <button jmb-on:click="cancel()">Back</button>
    {# <button jmb-on:click="$jmb.component('..',{mode:null}).display()">Back</button> #}
    Edit {{model_info.verbose_name}} 
    <button 
        {% if prev_record_id %}
        jmb-on:click="goto_record({{prev_record_id}})"
        {% else %}
        disabled
        {% endif %}>
        Prev
    </button>
    <button 
        {% if next_record_id %}
        jmb-on:click="goto_record({{next_record_id}})"
        {% else %}
        disabled
        {% endif %}>
        Next
    </button>
</h2>
{% for field in form  %}
    {{field.label}}:
    {{field(**{"jmb-on:change.defer":"$jmb.set('form." + field.name +"', $self.value)", "id":false})}}
{% endfor %}
<button jmb-on:click="save()">Save</button>