{% extends _config.super.BASE_TEMPLATE %}
{% block display_rows %}
    {% if display_mode == "add"  and component("add").is_accessible %}
        {{component("add")}}
    {% endif %}
    {% for record in records %}
        {% if record.id in editing_records  and component("edit", record_id=record.id, _record=record).key(record.id).is_accessible%}
            {{component()}}  
        {% elif component("view", record_id=record.id, _record=record).key(record.id).is_accessible %}
            {{component()}}
        {% endif %}
    {% endfor %}
{% endblock display_rows %}